/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  /* background image credit: https://images5.alphacoders.com/489/489261.jpg */
  background: #26221C url("../images/starwars-background.jpg") no-repeat;
  background-size: 100% 125%;
  font-family: "Roboto Mono", monospace;
  margin: 0% 2%; }
  html body .sw-c-img {
    margin-left: 7% !important;
    width: 85%; }
  html body .custom-h1 {
    font-family: "Roboto Mono", monospace;
    color: #F2F2F2;
    margin-bottom: 0;
    text-shadow: 5px 3px #124559; }
  html body .custom-h4 {
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px #F2F2F2; }
  html body .custom-lower-card, html body .custom-upper-card {
    text-align: center;
    color: black;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem; }
  html body .sw-card {
    margin: 0% !important;
    color: black;
    background-color: #F2F2F2;
    border: 2px solid green; }
  html body .sw-text {
    font-weight: bold;
    font-size: 80%; }
  html body .sw-card-width {
    width: 100rem; }
  html body .content {
    min-height: calc(80vh - 0px); }
  html body .footer {
    height: 0px; }
  html body #enemies .sw-card {
    margin: 0% !important;
    color: black;
    background-color: red;
    border: 2px solid black; }
  html body #current-defender .custom-upper-card, html body #current-defender .custom-lower-card {
    color: #F2F2F2; }
  html body #current-defender .sw-card {
    margin: 0% !important;
    background-color: black;
    border: 2px solid green; }
  html body #attack-button, html body .custom-restart-btn {
    font-family: "Lato", sans-serif;
    background-color: #124559; }
  html body #attack-button:hover, html body .custom-restart-btn:hover {
    background-color: #736C63; }
  html body #attack-button:active {
    background-color: red; }
  html body .custom-restart-btn:active {
    background-color: black;
    color: #F2F2F2; }
  html body #attack-results {
    font-weight: bold;
    font-size: 90%;
    color: black;
    text-shadow: 2px 2px #F2F2F2; }
